html, body {
    margin: 0;
    padding: 0;
}

h1, .test-button-area {
    text-align: center;
}

.twitch-container {
    background-color: #4CAF50;
    border-radius: 5px;
    width: 310px;
    min-height: 150px;
    padding: 45px 0 5px;
    position: relative;
}

.tab-buttons {
    left:5px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 5px;
}

.tab-button-wrapper {
    float: left;
}

.tab-button {
    color: white;
    display: block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #bbb;
    padding: 10px 0px 10px;
    width: 98px;
    background-color: #333;
    text-align: center;
    text-decoration: none;
}

.tab-button:hover:not(.activeButton) {
    background-color: #111;
}

.twitch-tabs {
    height: 100%;
    margin: 0 auto;
    width: 300px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
}

.twitch-tab {
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    bottom: 0px;
    display: none;
    height: inherit;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    width: inherit;
}

.active-tab {
    display: block;
}

.activeButton {
    background-color: mediumpurple;
}

.center {
    margin: 10px auto;
}

.user-div {
    border-bottom: 1px black solid;
    height: 46px;
    padding-left: 60px;
    padding-right: 20px;
    padding-top: 13px;
    position: relative;
    width: 220px;
}

.online {
    background-color: chartreuse;
}

.offline {
    background-color: deepskyblue;
}

.user-logo {
    border-radius: 25px;
    height: 50px;
    left: 0;
    margin: 5px 5px;
    position: absolute;
    top: 0;
    width: 50px;
}

.user-name {
    color: black;
    font-size: 16px;
    height: 18px;
}

.user-status {
    color: darkslategray;
    font-size: 14px;
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.status-link {
    color: darkslategray;
}

.user-name, .status-link {
    text-decoration: none;
}

.user-name:hover, .status-link:hover {
    text-decoration: underline;
}